@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
    font-family: 'poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    
}
.container {
    max-width: 1200px;
    margin: auto;
}
.card {
    border-radius: 10px;
    color: #fff;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
}
.bg-c-blue {
    background: #1E90FF;
}
.bg-c-green {
    background: #28a745;
}
.bg-c-yellow {
    background: #ffc107;
}
.bg-c-pink {
    background: #e83e8c;
}
.order-card {
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}
.order-card h6 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.order-card h2 {
    font-size: 2.5rem;
    margin: 0;
}
.order-card p {
    margin: 0;
}
.order-card .fa {
    font-size: 2.5rem;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.text-right {
    text-align: right;
}